i.unpiad-header{
  display: block;
  text-indent: -9999px;
  width: 100px;
  height: 82px;
  background: url(agenda.svg);
  background-size: 100px 82px
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}